.buttonwrapper {
}

.dropdownbutton {
  width: auto;
  height: auto;
  background: none;
  color: #292929;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  padding: 0;
}
.menu {
  right: -8px;
}
.dropdownbutton:hover {
  filter: none;
}

.item {
  color: #292929;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  padding: 0 1rem;
}

.item:hover {
  color: #292929;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  padding: 0 1rem;
  background: none;
}
