@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
input {
  outline: none;
}

.customContainer {
  width: 80vw;
  margin: 0 auto;
}

.swiper-slide {
  width: 100% !important;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
